button {
	transition: 0.2s;
}

button:hover {
	transition: 0.2s;
}

.closeX {
	background-color: transparent;
	border: none;
	width: 2.5rem;
	height: 2.5rem;
	display: flex;
}

.closeX .svg-icons {
	/*	border: 2px solid blue;*/
	/*	object-fit: cover;*/
	height: 100%;
	fill: var(--ink);
	/*	width: 100%;*/
}

/* ==== ADMIN PANEL ==== */
.admin-panel button {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 1rem;
	font-family: inherit;
	padding: 8px 16px;
	background-color: var(--admin-highlight);
	color: var(--white);
	fill: var(--white);
	border: none;
	border-radius: var(--corners);
	box-shadow: var(--card-shadow);
}

.admin-panel button:hover {
	background-color: var(--admin-highlight-hover);
	box-shadow: var(--card-shadow-hover);
}

.admin-panel button:hover .svg-icon {
	/*	fill: var(--ink);*/
}

/* Close button */
/*.admin-panel button.close {
	padding: 0;
	background-color: transparent;
	border: none;
	border-radius: 100px;
	fill: var(--admin-highlight);
}*/

.admin-panel button.close:hover {
	/*	fill: var(--warn);*/
	/*	box-shadow: none;*/
}

button.toggle-add {
	margin: 30px 0px;
	padding: 12px 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.toggle-add .svg-icon {
	width: 1.1rem;
	height: 1.1rem;
	/*		border: 1px solid red;*/
}

/* ==== ADMIN PANEL (Inline) ==== */
.admin-panel-inline button {
	background-color: var(--admin-highlight);
	border: none;
	border-radius: 5px;
	color: var(--white);
	padding: 5px 12px;
	box-shadow: var(--shadow-subtle);
	font-family: inherit;
}

.admin-panel-inline .svg-icon {
	fill: var(--white);
	height: 1.25rem;
	width: 1.25rem;
}

.admin-panel-inline button.warn {
	background-color: var(--warn);
	/*	border: 2px solid var(--warn);*/
}

.admin-panel-inline button:hover {
	background-color: var(--admin-highlight-hover);
	box-shadow: var(--card-shadow-hover);
	/*	border: 2px solid var(--ink);*/
}

.admin-panel-inline button.warn:hover {
	background-color: var(--warn-hover);
	/*	border: 2px solid var(--warn-hover);*/
}
.admin-panel-inline button:hover .svg-icon {
	/*	fill: var(--ink);*/
}
