.logo {
	display: flex;
	gap: 0.75rem;
	font-family: 'Lobster', cursive;
	font-size: 2.75rem;
	align-items: center;
	justify-content: center;
	color: var(--highlight);
	fill: var(--highlight);
}
.logo .svg-icons {
	width: 2rem;
	height: 2rem;
}
